<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @contact.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @contact.last_name %>
</p>

<p>
  <b>Phone:</b>
  <%= @contact.phone %>
</p>

<p>
  <b>Addresses:</b>
  <ul>
  	<% @contact.addresses.each do |address|%>
  	<li> <%= address.street %> </li>
  <% end %>
  </ul>
  
</p>

<%= link_to 'add new address', new_contact_address_path(@contact) %>
<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
